h2{
    font-weight: bold;
    padding: 28px;
    border-radius: 10px;
    width: 500px;
    border: none;
    cursor: pointer;
    margin: 20px;
    font-size: 4.7rem;
    margin-top: 80px;
    border-bottom: 2px solid var(--azul-botones);
}

form 
{
    padding: 32rem;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.7rem;
}

.input-email{
    color: black;
    font-weight: bold;
    padding: 28px;
    border-radius: 10px;
    width: 650px;
    border: none;
    cursor: pointer;
    margin: 20px;
    font-size: 3.7rem;
    margin-top: 80px;
    box-shadow: 8px 8px rgba(3, 1, 1, 0.178);
    border: 1px solid #151515;
}


.intput-button
{

    color: white;
    font-weight: bold;
    background-color: var(--azul-botones);
    padding: 28px;
    border-radius: 10px;
    width: 300px;
    border: none;
    cursor: pointer;
    margin: 20px;
    font-size: 3.7rem;
    margin-top: 80px;
    box-shadow: 8px 8px rgba(3, 1, 1, 0.178);
}

/***/
.logo-bandera
{
    background-image: url("./assets/imgs/mobile/escudo_bandera_tamesis.svg");
    height: 8vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 1vh;
}
