<section>
    <h2>Ingrese una nueva Clave</h2>
    <form action="/nueva_clave" method="post">
        <input type="password" name="password" for="password" id="password" placeholder="Ingrese una Clave" required>
        <input type="password" name="confirm_password" for="confirm_password" id="confirm_password" placeholder="Confirme la Clave" required>
        
        <input type="submit" value="Enviar">
    </form>
</section>