
<section class="logo-parque">
  <figure class="inicio-imagen fondo1">.</figure>
</section>
<section class="main-section">
  <h2>Su Correo electronico no se encuentra registrado en el sistema, por favor
    verfique su correo.</h2>
  <a href="">Intentar de Nuevo!</a>

  <a href="/signup" title="Crear una cuenta en el Parque educativo Cartama">
    Crear cuenta
  </a>

  <a href="/signin" title="Inicia Sesion si ya tienes cuenta creada">
    Ingresar
  </a>

</section> 