<section>
  <section>
    <h2>Revisa tu <i>correo electrónico</i>, allí vas a encontrar la clave de
      recuperación.</h2>
  </section>
  <form action="/recuperar_cuenta" method="post">
    <input
      type="email"
      class="input-email"
      placeholder="Ingrese su correo electrónico"
      id="correo_usuario"
      for="correo_usuario"
      name="correo_usuario"
      required
    />
    
    <input type="submit" class="intput-button" id="intput-button-retrieve-password" value="Enviar" />
  </form>
  <section>
    <figure class="logo-bandera">.</figure>
  </section>
</section>