<section class="logo-parque">
  <figure class="inicio-imagen fondo1">.</figure>
</section>
<section class="main-section">
  <h2>La contraseña y la confirmacion de contraseña no coinciden.</h2>

  <a href="/signup">Intentar de Nuevo!</a>

  <a href="/signin" title="Inicia Sesion si ya tienes cuenta creada">
    Ingresar
  </a>
</section>